#a { 
    font-size :2px;
    color : red }
	
#b {
	color : red }

body { 
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;}

header { 
    background: #b30000;
    color: white;
    padding: 20px;
    text-align: center }

.warning { 
    background: #ffcc00;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px }

article { 
    max-width: 800px;
    background: white;
    margin: 30px auto;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) }

.fake-label {  
    background: #b30000;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom:20px }