#a { 
    font-size :2px;
    color : red }
	
#b {
	color : red }

#head {
    font-size: 100px
}

body { 
    font-family: Arial, sans-serif;
    margin: 0;
    background: #ffffff;}

header { 
    background: #1900ff;
    color: white;
    padding: 20px;
    text-align: center }

article { 
    max-width: 800px;
    background: white;
    margin: 30px auto;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) }

.fake-label {  
    background: #b30000;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom:20px }
